%main#main
  / ======= Breadcrumbs =======
  %section#breadcrumbs.breadcrumbs
    .container
      .d-flex.justify-content-between.align-items-center
        %h2 Construction
        %ol
          %li
            = link_to 'Home', root_path
          %li 施工事例
  / ======= Portfolio Details Section =======
  %section#portfolio-details.portfolio-details
    .container
      .row
        .col-lg-8
          %h2.portfolio-title #{@construction.name}
          .owl-carousel.portfolio-details-carousel
            = image_tag @construction.image_url
            = image_tag @construction.image_2_url
            = image_tag @construction.image_3_url
        .col-lg-4.portfolio-info
          %h3 #{@construction.name}
          %ul
            %li
              %strong> 地域
              \　: #{@construction.area}
            %li
              %strong> 設計
              \　: #{@construction.design}
            %li
              %strong> タイプ
              \　: #{@construction.type.name}
            %li
              %strong> 竣工
              \　: #{@construction.built_year}
          %p
            #{@construction.introduction}
    .portfolio
      .container
        .row.portfolio-container
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              =image_tag @construction.image_url, class: 'img-fluid'
              .portfolio-info
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => @construction.image_url}
                    %i.bx.bx-plus
          -(2..10).each do |i|
            .col-lg-4.col-md-6.portfolio-item.filter-card
              .portfolio-wrap
                -if @construction.try("image_#{i}_url").present?
                  =image_tag @construction.try("image_#{i}_url"), class: 'img-fluid'
                  .portfolio-info
                    .portfolio-links
                      %a.venobox{"data-gall" => "portfolioGallery", :href => @construction.try("image_#{i}_url")}
                        %i.bx.bx-plus
    .container.mt-5
      -if admin_signed_in?
        .row
          .col-6.construction
            = link_to 'EDIT THIS PROJECT', edit_admin_construction_path(@construction), class: 'btn-box btn-edit'
          .col-6.construction.text-right
            = link_to 'DELETE', admin_construction_path(@construction), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn-box btn-delete'
      .row
        .col-lg-12.construction
          %p.mt-5.ml-2
            =link_to 'BACK TO THE LIST', constructions_path
