/ ======= Footer =======
%footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6
          .footer-info
            %h3 AIO. JAPAN Co., LTd
            %p
              兵庫県 姫路市
              %br/
              上手野 338-2
              %br/
              %br/
              %strong Phone:
              = link_to "090-1440-6947", "tel:09014406947"
              %br/
              %strong Email:
              = link_to "info@f-copo.com", "mailto:info@f-copo.com"
              %br/
            .social-links.mt-3
              %a.facebook{:href => "#"}
                %i.bx.bxl-facebook
              %a.instagram{:href => "#"}
                %i.bx.bxl-instagram
        .col-lg-2.col-md-6.footer-links
          %h4 Useful Links
          %ul
            %li
              %i.bx.bx-chevron-right
              = link_to 'ホーム', root_path
            %li
              %i.bx.bx-chevron-right
              = link_to '会社案内', about_path
            %li
              %i.bx.bx-chevron-right
              = link_to '施工事例', constructions_path
            %li
              %i.bx.bx-chevron-right
              = link_to '個人情報保護方針', privacy_path
            %li
              %i.bx.bx-chevron-right
              = link_to 'お問い合わせ', contact_path
        .col-lg-3.col-md-6.footer-links
          %h4 Links
          %ul
            %li
              %i.bx.bx-chevron-right
              = link_to 'フジモトコーポレーション', 'https://f-copo.com/'
            %li
              %i.bx.bx-chevron-right
              = link_to '中村建築研究室 エヌラボ(n-lab)', 'https://n-lab.name/'
            %li
              %i.bx.bx-chevron-right
              = link_to '永森建築事務所', 'https://ynagamo.com/'
            %li
              %i.bx.bx-chevron-right
              = link_to '（有）エステートホームズ', 'http://www.estate-h.com/'

        .col-lg-3.col-md-6.footer-links.footer-newsletter
          %h4 To Worker
          %ul
            -if admin_signed_in?
              %li
                = link_to 'Logout', destroy_admin_session_path
            -else
              %li
                %i.bx.bx-walk
                = link_to 'AIO. JAPANs', new_admin_session_path
              -# %li
              -#   = link_to 'Sign Up', new_admin_registration_path

  .container
    .copyright
      \© Copyright
      = succeed "." do
        %strong
          %span Sailor
    .credits
      / All the links in the footer should remain intact.
      / You can delete the links only if you purchased the pro version.
      / Licensing information: https://bootstrapmade.com/license/
      / Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/
      Designed by
      %a{:href => "https://bootstrapmade.com/"} BootstrapMade
/ End Footer
