/ ======= Header =======
%header#header.fixed-top
  .container.d-flex.align-items-center
    %a.logo{:href => root_path }
      %img.img-fluid{:alt => "", :src => "/img/aio_logo_s.png"}
    %h1.logo-h1
      = link_to 'AIO. JAPAN', root_path
    / Uncomment below if you prefer to use an image logo
    %nav.nav-menu.d-none.d-lg-block
      %ul
        %li.active
          = link_to 'HOME', root_path
        %li
          = link_to 'PROJECTS', constructions_path
        %li
          = link_to 'ABOUT', about_path
        %li
          = link_to 'CONTACT', contact_path
    / .nav-menu
    -# %a.get-started-btn.ml-auto{:href => "index.html"} Get Started
    .contact-info.ml-auto.d-none.d-lg-block
      %i.bx.bxs-envelope.margin-10px-right
        = link_to "info@f-copo.com", "mailto:info@f-copo.com"
      %i.bx.bxs-phone
        = link_to "08014406947", "tel:08014406947"
